[submodule "libs/tink_tcp"]
	path = libs/tink_tcp
	url = git@github.com:haxetink/tink_tcp.git
[submodule "libs/tink_typecrawler"]
	path = libs/tink_typecrawler
	url = git@github.com:haxetink/tink_typecrawler.git
[submodule "libs/tink_streams"]
	path = libs/tink_streams
	url = git@github.com:haxetink/tink_streams.git
[submodule "libs/tink_macro"]
	path = libs/tink_macro
	url = git@github.com:haxetink/tink_macro.git
[submodule "libs/tink_json"]
	path = libs/tink_json
	url = git@github.com:haxetink/tink_json.git
[submodule "libs/tink_io"]
	path = libs/tink_io
	url = git@github.com:haxetink/tink_io.git
[submodule "libs/tink_core"]
	path = libs/tink_core
	url = git@github.com:haxetink/tink_core.git
[submodule "libs/hxnodejs"]
	path = libs/hxnodejs
	url = git@github.com:haxefoundation/hxnodejs.git
[submodule "libs/tink_web"]
	path = libs/tink_web
	url = git@github.com:haxetink/tink_web.git
[submodule "libs/tink_http"]
	path = libs/tink_http
	url = git@github.com:haxetink/tink_http.git
[submodule "libs/tink_querystring"]
	path = libs/tink_querystring
	url = git@github.com:haxetink/tink_querystring.git
[submodule "libs/tink_url"]
	path = libs/tink_url
	url = git@github.com:haxetink/tink_url.git
[submodule "libs/tink_stringly"]
	path = libs/tink_stringly
	url = git@github.com:haxetink/tink_stringly.git
[submodule "libs/tink_anon"]
	path = libs/tink_anon
	url = git@github.com:haxetink/tink_anon.git
[submodule "libs/http-status"]
	path = libs/http-status
	url = git@github.com:kevinresol/http-status.git
[submodule "libs/tink_chunk"]
	path = libs/tink_chunk
	url = git@github.com:haxetink/tink_chunk.git
